@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));


@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#F9FAFB] dark:bg-gray-950;
  @apply text-[#111827] text-[clamp(1rem,1vw,2rem)];


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* :root {
  --warning: oklch(0.84 0.16 84);
  --warning-foreground: oklch(0.28 0.07 46);
}
 
.dark {
  --warning: oklch(0.41 0.11 46);
  --warning-foreground: oklch(0.99 0.02 95);
}
 
@theme inline {
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
} */

