@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --breakpoint-md: 47rem;
}
@theme{
  --animate-floatXg: floatXg 4s ease-in-out infinite;
  --animate-floatXd: floatXd 4s ease-in-out infinite;
  --animate-floatY: floatY 4s ease-in-out infinite;
  @keyframes floatXg{
    0%, 100%{
      transform: translate(0);
    }
    50%{
      transform: translate(-5px, -10px);
    }
  }
    @keyframes floatXd{
    0%, 100%{
      transform: translate(0,0);
    }
    50%{
      transform: translate(5px,-10px);
    }
  }
  @keyframes floatY{
    0%, 100%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
  }
}

html,
body {
  @apply bg-[#F9FAFB] dark:bg-gray-950;
  @apply text-[#111827] text-[clamp(1rem,1vw,2rem)];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* :root {
  --warning: oklch(0.84 0.16 84);
  --warning-foreground: oklch(0.28 0.07 46);
}

.dark {
  --warning: oklch(0.41 0.11 46);
  --warning-foreground: oklch(0.99 0.02 95);
}

@theme inline {
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
} */

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
}